<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <ul style="display:flex;justify-content: space-between;">
        <li><a href="/addstaff">Add Staff</a></li>
        <li><a href="/viewstaff">view Staff</a></li>
        <li><a href="/addtask">Add Task</a></li>
        <li><a href="/viewtask">view Task</a></li>
        <li><a href="/managetask">Manage Task</a></li>
        <li><a href="/status">Task status</a></li>
    </ul>
    
</body>
</html>