<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>

    <h1>Update Assign Task</h1>
<form action="" method="post">
    <tr>
        <tr>
            <td>Enter Staff :</td>
            <td><select name="name">
                <% result.forEach(function(data) { %>
                    <option value="<%= data.name %>"><%= data.name %></option>
                <% }); %>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </tr>
</form>
</body>
</html>