<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Staff</title>
</head>
<body>

    <% result.forEach(function(data){ %>
    <form method="post">
        <tr>
            <td>Staff Name:</td>
            <td><input type="text" name="name" value="<%= data.name %>"></td><br>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" value="<%= data.email %>"></td><br>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" value="<%= data.password %>"></td><br>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="addstaff" value="Edit Staff"></td>
        </tr>
    </form>
    <% }); %>
    
</body>
</html>